<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tests</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>    
  body {
  background-image: url('https://source.unsplash.com/WLUHO9A_xik/1600x900');
}
    /* Set black background color, white text and some padding */
    footer {
      background-color: black;
      color: white;
      padding: 15px;
    }
  </style>
</head>
<body>

    <div class="col-sm-12">
          <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default text-left">
            <div class="panel-body">
              <p contenteditable="true" class="text-center"><strong>Scheduled Tests </strong></p>    
            </div>
          </div>
        </div>
      </div>
    
      <div class="row">
        <div class="col-sm-12">
        </div>
      </div>
      
      <div class="row">
        <div class="col-sm-3">
          <div class="well">
           <p>Course 1 </p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <p>Date</p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="well">
            <p>Details</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3">
          <div class="well">
           <p>Course 2 </p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <p>Date</p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="well">
            <p>Details</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="well">
           <p>Course 3 </p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <p>Date</p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="well">
            <p>Details</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="well">
           <p>Course 4 </p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <p>Date</p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="well">
            <p>Details</p>
          </div>
        </div>
      </div>

<footer class="container-fluid text-center">
  <p>Coaching Management System</p>
</footer>

</body>
</html>
